## Library

In [1]:
import pandas as pd

## Import Data

In [2]:
customer_data = pd.read_csv('customer_data.csv')
sales_data = pd.read_csv('sales_data.csv')

## Customer Data

In [3]:
customer_data

      customer_id  gender   age payment_method
0         C241288  Female  28.0    Credit Card
1         C111565    Male  21.0     Debit Card
2         C266599    Male  20.0           Cash
3         C988172  Female  66.0    Credit Card
4         C189076  Female  53.0           Cash
...           ...     ...   ...            ...
99452     C441542  Female  45.0    Credit Card
99453     C569580    Male  27.0           Cash
99454     C103292    Male  63.0     Debit Card
99455     C800631    Male  56.0           Cash
99456     C273973  Female  36.0    Credit Card

[99457 rows x 4 columns]

In [4]:
customer_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99457 entries, 0 to 99456
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   customer_id     99457 non-null  object
 1   gender          99457 non-null  object
 2   age             99338 non-null  float64
 3   payment_method  99457 non-null  object
dtypes: float64(1), object(3)
memory usage: 3.0+ MB

In [5]:
customer_data.isnull().sum()

customer_id         0
gender              0
age               119
payment_method      0
dtype: int64

In [6]:
customer_data.describe

<bound method NDFrame.describe of       customer_id  gender   age payment_method
0         C241288  Female  28.0    Credit Card
1         C111565    Male  21.0     Debit Card
2         C266599    Male  20.0           Cash
3         C988172  Female  66.0    Credit Card
4         C189076  Female  53.0           Cash
...           ...     ...   ...            ...
99452     C441542  Female  45.0    Credit Card
99453     C569580    Male  27.0           Cash
99454     C103292    Male  63.0     Debit Card
99455     C800631    Male  56.0           Cash
99456     C273973  Female  36.0    Credit Card

[99457 rows x 4 columns]>

### Data Transform

## Sales Data

In [7]:
sales_data

,invoice_no,customer_id,category,quantity,price,invoice_date,shopping_mall
0,I138884,C241288,Clothing,5,1500.40,05-08-2022,Kanyon
1,I317333,C111565,Shoes,3,1800.51,12-12-2021,Forum Istanbul
2,I127801,C266599,Clothing,1,300.08,09-11-2021,Metrocity
3,I173702,C988172,Shoes,5,3000.85,16-05-2021,Metropol AVM
4,I337046,C189076,Books,4,60.60,24-10-2021,Kanyon
...,...,...,...,...,...,...,...
99452,I219422,C441542,Souvenir,5,58.65,21-09-2022,Kanyon
99453,I325143,C569580,Food & Beverage,2,10.46,22-09-2021,Forum Istanbul
99454,I824010,C103292,Food & Beverage,2,10.46,28-03-2021,Metrocity
99455,I702964,C800631,Technology,4,4200.00,16-03-2021,Istinye Park
99456,I232867,C273973,Souvenir,3,35.19,15-10-2022,Mall of Istanbul

In [8]:
sales_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99457 entries, 0 to 99456
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   invoice_no     99457 non-null  object
 1   customer_id    99457 non-null  object
 2   category       99457 non-null  object
 3   quantity       99457 non-null  int64
 4   price          99457 non-null  float64
 5   invoice_date   99457 non-null  object
 6   shopping_mall  99457 non-null  object
dtypes: float64(1), int64(1), object(5)
memory usage: 5.3+ MB

In [9]:
sales_data.isnull().sum()

invoice_no       0
customer_id      0
category         0
quantity         0
price            0
invoice_date     0
shopping_mall    0
dtype: int64

In [10]:
sales_data.describe

<bound method NDFrame.describe of       invoice_no customer_id         category  quantity    price invoice_date  \
0        I138884     C241288         Clothing         5  1500.40   05-08-2022
1        I317333     C111565            Shoes         3  1800.51   12-12-2021
2        I127801     C266599         Clothing         1   300.08   09-11-2021
3        I173702     C988172            Shoes         5  3000.85   16-05-2021
4        I337046     C189076            Books         4    60.60   24-10-2021
...          ...         ...              ...       ...      ...          ...
99452    I219422     C441542         Souvenir         5    58.65   21-09-2022
99453    I325143     C569580  Food & Beverage         2    10.46   22-09-2021
99454    I824010     C103292  Food & Beverage         2    10.46   28-03-2021
99455    I702964     C800631       Technology         4  4200.00   16-03-2021
99456    I232867     C273973         Souvenir         3    35.19   15-10-2022

          shopping_mall
0                Kanyon
1        Forum Istanbul
2             Metrocity
3          Metropol AVM
4                Kanyon
...                 ...
99452            Kanyon
99453    Forum Istanbul
99454         Metrocity
99455      Istinye Park
99456  Mall of Istanbul

[99457 rows x 7 columns]>

### Data Transform

In [11]:
sales_df = sales_data.copy()

In [12]:
sales_df['invoice_date'] = pd.to_datetime(sales_df['invoice_date'], format='%d-%m-%Y')

In [13]:
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99457 entries, 0 to 99456
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   invoice_no     99457 non-null  object
 1   customer_id    99457 non-null  object
 2   category       99457 non-null  object
 3   quantity       99457 non-null  int64
 4   price          99457 non-null  float64
 5   invoice_date   99457 non-null  datetime64[ns]
 6   shopping_mall  99457 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(4)
memory usage: 5.3+ MB

In [14]:
sales_df['invoice_year'] = sales_df['invoice_date'].dt.year
sales_df['invoice_month'] = sales_df['invoice_date'].dt.month
sales_df['invoice_day'] = sales_df['invoice_date'].dt.day

In [16]:
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99457 entries, 0 to 99456
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   invoice_no     99457 non-null  object
 1   customer_id    99457 non-null  object
 2   category       99457 non-null  object
 3   quantity       99457 non-null  int64
 4   price          99457 non-null  float64
 5   invoice_date   99457 non-null  datetime64[ns]
 6   shopping_mall  99457 non-null  object
 7   invoice_year   99457 non-null  int64
 8   invoice_month  99457 non-null  int64
 9   invoice_day    99457 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(4), object(4)
memory usage: 7.6+ MB

### Data Modification